/* Оформление секции НАША КОМАНДА */
.our-team {
  background-color: #f5f4fa;
}
.our-team-img {
  display: block;
  margin-bottom: 30px;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}
.our-team-list {
  display: flex;
}

.our-team-item {
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bgr-color);
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-social-list {
  display: flex;
  margin-left: 32px;
}

.our-team-social-item {
  padding-bottom: 24px;
}
.our-team-social-item:not(:last-child) {
  margin-right: 10px;
}

.our-team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: var(--transition-bgr-color);
}

.our-team-social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: var(--accent-color);
}

.our-team-social-link:hover .our-team-social-icon,
.our-team-social-link:focus .our-team-social-icon {
  fill: #ffffff;
}
