/* Оформление секции Чем мы занимаемся */
/* для всех title - h2 */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.we-doing-list {
  display: flex;
}
.we-doing-list-item {
  position: relative;
  width: 370px;
}

.we-doing-list-item:not(:last-child) {
  margin-right: 30px;
}

.we-doing-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  background-color: var(--secondary-bgr-color);
  color: var(--secondary-white-text-color);
}
