/* Оформление страницы ПОРТФОЛИО */
/* Оформление фильтер-кнопок */
.section-filter-button {
  padding-top: 93px;
  padding-bottom: 34px;
}
.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--primary-bgr-filter-btn-color);
  color: var(--primary-title-color);
  transition: var(--transition-bgr-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-white-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.filter-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button-item:not(:last-child) {
  margin-right: 8px;
}
